@model EntityCache.Bussines.UserBussines
@{
    ViewBag.Title = "ثبت نام در سایت";
}
<div class="allert allert-succes">
    <h2>@Model.UserName عزیز، با سپاس از ثبت نام شما در سایت ما</h2>
    <p>ایمیلی حاوی لینک فعال سازی به ایمیل "@Model.Email" ارسال شد. لطفا وارد اسمیل فوق شوید و روی لینک کلیک نمایید</p>
</div>