@model EntityCache.Bussines.UserBussines
@{
    ViewBag.Title = "بازیابی کلمه عبور";
}
<div class="allert allert-succes" style="width: 100%; height: 50%;background-color: aquamarine">
    <h2>@Model.RealName عزیز،</h2>
    <p>ایمیلی حاوی لینک بازیابی کلمه عبور به ایمیل "@Model.Email" ارسال شد. لطفا وارد ایمیل فوق شوید و روی لینک کلیک نمایید</p>
</div>