<div class="New_layer" style=" width: 100%; height: 400px; margin-top: 10px; direction: ltr">
    <section class="New-shape">
        <div class="obj1" style="background-color: white; width: 15%; height: 350px; position: absolute; margin: 20px; border-radius: 5px; direction: rtl">
            <a href="" title="تست عنوان">
                <img src="/Content/img/arad.png" style="width: 90%; height: 50%; margin-top: 5px; border-radius: 5px; margin-left: 10px; margin-right: 10px; position: absolute">
                <p style="position: absolute; margin-top: 190px; font-size: 16px; margin-right: 10px;">
                    <b>عنوان کالا</b>
                </p>
                <p style="position: absolute; margin-top: 260px; font-size: 12px; margin-right: 10px;">
                    قیمت:
                </p>
                <p style="position: absolute; margin-top: 250px; font-size: 20px; margin-right: 50px;">
                    <b>250.000</b>
                </p>
                <p style="position: absolute; margin-top: 260px; font-size: 12px; margin-right: 150px;">
                    تومان
                </p>
            </a>
        </div>


        <div class="obj2" style="background-color: white; width: 15%; height: 350px; position: absolute; margin: 20px; margin-left: 250px; border-radius: 5px; direction: rtl">
            <a href="" title="تست عنوان">
                <img src="/Content/img/arad.png" style="width: 90%; height: 50%; margin-top: 5px; border-radius: 5px; margin-left: 10px; margin-right: 10px; position: absolute">
                <p style="position: absolute; margin-top: 190px; font-size: 16px; margin-right: 10px;">
                    <b>عنوان کالا</b>
                </p>
                <p style="position: absolute; margin-top: 260px; font-size: 12px; margin-right: 10px;">
                    قیمت:
                </p>
                <p style="position: absolute; margin-top: 250px; font-size: 20px; margin-right: 50px;">
                    <b>250.000</b>
                </p>
                <p style="position: absolute; margin-top: 260px; font-size: 12px; margin-right: 150px;">
                    تومان
                </p>
            </a>
        </div>


        <div class="obj3" style="background-color: white; width: 15%; height: 350px; position: absolute; margin: 20px; margin-left: 482px; border-radius: 5px; direction: rtl">
            <a href="" title="تست عنوان">
                <img src="/Content/img/arad.png" style="width: 90%; height: 50%; margin-top: 5px; border-radius: 5px; margin-left: 10px; margin-right: 10px; position: absolute">
                <p style="position: absolute; margin-top: 190px; font-size: 16px; margin-right: 10px;">
                    <b>عنوان کالا</b>
                </p>
                <p style="position: absolute; margin-top: 260px; font-size: 12px; margin-right: 10px;">
                    قیمت:
                </p>
                <p style="position: absolute; margin-top: 250px; font-size: 20px; margin-right: 50px;">
                    <b>250.000</b>
                </p>
                <p style="position: absolute; margin-top: 260px; font-size: 12px; margin-right: 150px;">
                    تومان
                </p>
            </a>
        </div>



        <div class="obj4" style="background-color: white; width: 15%; height: 350px; position: absolute; margin: 20px; margin-left: 715px; border-radius: 5px; direction: rtl">
            <img src="/Content/img/arad.png" style="width: 90%; height: 50%; margin-top: 5px; border-radius: 5px; margin-left: 10px; margin-right: 10px;position: absolute">
            <a href="" title="تست عنوان">
                <p style="position: absolute;  margin-top: 190px; font-size: 16px; margin-right: 10px;">
                    <b>عنوان کالا</b>
                </p>
                <p style="position: absolute;  margin-top: 260px;font-size: 12px;margin-right: 10px;">
                    قیمت:
                </p>
                <p style="position: absolute;  margin-top: 250px;font-size: 20px;margin-right: 50px;">
                    <b>250.000</b>
                </p>
                <p style="position: absolute;  margin-top: 260px;font-size: 12px;margin-right: 150px;">
                    تومان
                </p>
            </a>
        </div>


        <img src="/Content/img/New.png" style="width: 100%; height: 400px;">
    </section>
</div>
