<div style="background-color: #f0e68c;">
    <div class="inner-section">
        <div class="special-part row">
            <div class="col col-md-2" style="text-align: center">
                <img src="/Content/img/special_market_banner.png" class="block menu-image" /><br>
            </div>
            <div class="col col-md-10">
                <div class="swiper-special">
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper">
                        <!-- Slides -->
                        <div class="swiper-slide-inner">
                            <div class="image-container">
                                <img src="/Content/img/sample_product.jpg" class="block menu-image" />
                            </div>
                            <span class="title">
                                نمونه محصول
                            </span>
                            <div class="price-container">
                                <div style="height: 5px"></div>
                                <span class="now-price">۱۰۰,۰۰۰</span>
                                <span class="price-unit">تومان</span>
                            </div>
                            <hr>
                            <span class="list-icon clock-b"></span> ۳:۰۰:۰۰
                        </div>
                        <div class="swiper-slide-inner">
                            <div class="image-container">
                                <img src="/Content/img/sample_product.jpg" class="block menu-image" />
                            </div>
                            <span class="title">
                                نمونه محصول
                            </span>
                            <div class="price-container">
                                <div style="height: 5px"></div>
                                <span class="now-price">۱۰۰,۰۰۰</span>
                                <span class="price-unit">تومان</span>
                            </div>
                            <hr>
                            <span class="list-icon clock-b"></span> ۳:۰۰:۰۰
                        </div>
                        <div class="swiper-slide-inner">
                            <div class="image-container">
                                <img src="/Content/img/sample_product.jpg" class="block menu-image" />
                            </div>
                            <span class="title">
                                نمونه محصول
                            </span>
                            <div class="price-container">
                                <div style="height: 5px"></div>
                                <span class="now-price">۱۰۰,۰۰۰</span>
                                <span class="price-unit">تومان</span>
                            </div>
                            <hr>
                            <span class="list-icon clock-b"></span> ۳:۰۰:۰۰
                        </div>
                        <div class="swiper-slide-inner">
                            <div class="image-container">
                                <img src="/Content/img/sample_product.jpg" class="block menu-image" />
                            </div>
                            <span class="title">
                                نمونه محصول
                            </span>
                            <div class="price-container">
                                <div style="height: 5px"></div>
                                <span class="now-price">۱۰۰,۰۰۰</span>
                                <span class="price-unit">تومان</span>
                            </div>
                            <hr>
                            <span class="list-icon clock-b"></span> ۳:۰۰:۰۰
                        </div>
                        <div class="swiper-slide-inner">
                            <div class="image-container">
                                <img src="/Content/img/sample_product.jpg" class="block menu-image" />
                            </div>
                            <span class="title">
                                نمونه محصول
                            </span>
                            <div class="price-container">
                                <div style="height: 5px"></div>
                                <span class="now-price">۱۰۰,۰۰۰</span>
                                <span class="price-unit">تومان</span>
                            </div>
                            <hr>
                            <span class="list-icon clock-b"></span> ۳:۰۰:۰۰
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>