<div class="container margin-top-25">
    <aside class="col-md-3 col-sm-4 right-side-content">
        <!-- Basket -->
        <section class="border-radius basket-side">
            <header><h3> سبد خرید شما  </h3></header>
            <article>
                <ul>
                    <li>
                        <img class="border-radius" src="/Content/img/1.jpg">
                        <div class="left-basket">
                            <a href="">محصول شماره یک <span class="border-radius"> 2 </span></a>
                        </div>
                    </li>
                    <li>
                        <img class="border-radius" src="/Content/img/1.jpg">
                        <div class="left-basket">
                            <a href="">محصول شماره یک <span class="border-radius"> 2 </span></a>
                        </div>
                    </li>
                    <li>
                        <img class="border-radius" src="/Content/img/1.jpg">
                        <div class="left-basket">
                            <a href="">محصول شماره یک <span class="border-radius"> 2 </span></a>
                        </div>
                    </li>
                </ul>
                <a href="" class="show-basket-button border-radius">مشاهده سبد خرید</a>
            </article>
        </section>
        <!-- End Basket -->
        <!-- compare -->
        <section class="border-radius compare-side">
            <header><h3> لیست مقایسه </h3></header>
            <article>
                <ul>
                    <li>
                        <i class="delete-compare">X</i>
                        <a href="">محصول شماره یک </a>
                    </li>
                    <li>
                        <i class="delete-compare">X</i>
                        <a href="">محصول شماره یک </a>
                    </li>
                    <li>
                        <i class="delete-compare">X</i>
                        <a href="">محصول شماره یک </a>
                    </li>
                </ul>
                <a href="" class="show-compare-list border-radius">مشاهده لیست مقایسه</a>
            </article>
        </section>
        <!-- End compare -->
        <!-- Category -->
        <section class="border-radius category-side">
            <header><h3> دسته بندی ها </h3></header>
            <article>
                <ul class="category-menu">
                    <li>
                        <h2><a href="">آموزش طراحی وب</a></h2>
                        <ul class="child-category-menu">
                            <li><h2><a href="">آموزش  html  مبتدی </a> <span>(10)</span></h2></li>
                            <li><h2><a href="">آموزش  html  پیشرفته </a> <span>(5)</span></h2></li>
                            <li><h2><a href="">آموزش  css مبتدی </a> <span>(2)</span></h2></li>
                            <li><h2><a href="">آموزش  css پیشرفته </a> <span>(52)</span></h2></li>
                            <li><h2><a href="">آموزش  jquery </a> <span>(20)</span></h2></li>
                            <li><h2><a href="">آموزش  وردپرس و طراحی  </a> <span>(15)</span></h2></li>
                        </ul>
                    </li>
                    <li>
                        <h2><a href="">آموزش طراحی وب</a></h2>
                        <ul class="child-category-menu">
                            <li><h2><a href="">آموزش  html  مبتدی </a> <span>(10)</span></h2></li>
                            <li><h2><a href="">آموزش  html  پیشرفته </a> <span>(5)</span></h2></li>
                            <li><h2><a href="">آموزش  css مبتدی </a> <span>(2)</span></h2></li>
                            <li><h2><a href="">آموزش  css پیشرفته </a> <span>(52)</span></h2></li>
                            <li><h2><a href="">آموزش  jquery </a> <span>(20)</span></h2></li>
                            <li><h2><a href="">آموزش  وردپرس و طراحی  </a> <span>(15)</span></h2></li>
                        </ul>
                    </li>
                    <li>
                        <h2><a href="">آموزش طراحی وب</a></h2>
                        <ul class="child-category-menu">
                            <li><h2><a href="">آموزش  html  مبتدی </a> <span>(10)</span></h2></li>
                            <li><h2><a href="">آموزش  html  پیشرفته </a> <span>(5)</span></h2></li>
                            <li><h2><a href="">آموزش  css مبتدی </a> <span>(2)</span></h2></li>
                            <li><h2><a href="">آموزش  css پیشرفته </a> <span>(52)</span></h2></li>
                        </ul>
                    </li>
                </ul>
            </article>
        </section>
        <!-- End Category -->
        <!-- Category -->
        <!-- End Category -->
    </aside>
    <div class="clearfix"></div>
</div>
